body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  background-color: #f48d79;
  
}
.projectList {
  /* background-color: aqua; */
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.projectDiv {
  /* background-color: aqua; */
  /* text-align: center; */
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.project {
  margin: 20px;
  padding: 10px; 
  text-align: justify;
  background-color: #ffc0b4;
  width: 40%;
  /* height: 40%; */
  display: inline;
}

.tasklist {
  /* background-color: aqua; */
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.task {
  padding: 10px;
  background-color: #ffc0b4;
  margin: 10px;
}

.newTask {
  /* background-color: aqua; */
  display: flex;
  /* flex-wrap: wrap; */
  /* text-align: center; */
  width: 100%;
  padding: 20px;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 20px;
  padding: 10px;
  /* left: 20%; */
  /* height: 60%; */
  /* align-content: center; */
  /* text-align: center;
  width: 100%;
  margin: auto 0; */
}

.select {
  width: 50%;
  align-self: center;
}

#select {
  width: 50%;
  align-self: center;
}

.form input {
  width: 100%;
  height: 20px;
  margin: 10px;
}

.navBar {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 20%;
  height: 10%;
  margin: 10px;
  padding: 10px;
  /* text-align: center; */
  justify-content: center;
  /* position: fixed;
  top: 0px;
  width: 100%; */
}
.active { 
  padding: 20px;
  width: 100%;
  color: white;
}

h1 {
  color: white;
}

/* h2 {
  color: white;
} */

label {
  color: white;
  margin: 5px;
  padding: 5px;
}
