body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  height: 100%;
  background-color: #f48d79;
  
}

html {
  height: 100%;
  background-color: #f48d79;
}
.projectList {
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.taskProject {
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.details {
  width: 100%;
  height: 100px;
}

.projectName {
  width: 100%;
}

.projectList form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDiv {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 20px;
  padding: 10px; 
  text-align: center;
  background-color: #ffc0b4;
  width: 40%;
  display: inline;
}

.tasklist {
  text-align: center;
  width: 100%;
  margin: auto 0;
}


.task {
  padding: 10px;
  background-color: #ffc0b4;
  margin: 10px;
}

.newTask {
  display: flex;
  width: 100%;
  padding: 20px;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 20px;
  padding: 10px;
}

.select {
  width: 50%;
  align-self: center;
}

#select {
  width: 50%;
  align-self: center;
}

.form input {
  width: 100%;
  height: 20px;
  margin: 10px;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 10%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}
.active { 
  padding: 20px;
  width: 100%;
  color: white;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.taskProject h2 {
  color: white;
}

label {
  color: white;
  margin: 5px;
  padding: 5px;
}
